body{
    font-family: arial,sans-serif;
    display: block;
}
#blok1 {
     float: left;
     display: block;
     width: 1000px;

     margin: 2px;
    text-align:left ;
 }
#blok2 {
    float: left;
    display: block;
    width: 700px;
    box-shadow: 0 0 2px;
    margin: 2px;
    height: -webkit-fill-available;

}

div {
    border: 1px solid #fff;
    margin:10px;
    text-align: center;
}
#main{
    width: 1119px;
    height: 150px;
    overflow: hidden;
}
a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
t{
    color: green;
}

m{
    font-size:21px;
}
.head{
    float: left;
}
span{
    float: left;

}
